.information .row{
    padding: 4%;
    background-color: aliceblue;
    width: 50%;
    margin: 0px auto;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
.information .row .input {
    margin-bottom: 20px;
}
.information{
    padding: 50px;
}
.information .row div button{
    width: 100%;
}
#congrates{
    display: none;
}
.front-side{
    position: relative;
}
.box{
    border: 5px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    transform: rotate(45deg);
    position: absolute;
    top: 33%;
    left: 17%;
}
#logo-part{
    font-size: 9px;
    font-family: 'MonteCarlo', cursive;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: rotate(-50deg);
}
#front-text{
    position: absolute;
    top: 56%;
    left: 11%;
    color: #fff;
    text-transform:capitalize;
}
#name{
    font-size: 10px;
    margin-bottom: 0px;
}
#profession{
    font-size: 6px;
}
.back-side{
    position: relative;
}
.download-btn{
    display: none;
}
.middle{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
}
#company-name{
    font-size: 12px;
    margin-bottom: 0px;
    font-family: 'Lobster', cursive;
}
#company-tagline{
    font-size: 8px;
    font-family: 'Racing Sans One', cursive;
}
.foot{
    font-size: 5px;
    color: #fff;
}
.left{
    position: absolute;
    left: 7%;
    top: 75%;
}
#email, #your-location, #contuct, #your-website{
    margin-bottom: 0px;
    margin-left: 2px;
}
#your-location {
    text-transform: capitalize;
}
.right{
    position: absolute;
    left: 50%;
    top: 75%;
}
.left i, .right i{
    font-size: 5px;
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #fff;
}
.left-up , .left-down, .right-up, .right-down{
    display: flex;
    align-items: center;
}
.left-up , .right-up{
    margin-bottom: 5px;
}
@media only screen and (max-width: 700px){
    .information{
        padding: 50px 0px;
    }
    .information .row{
        width: 70%;
    }
    .information .row div input, .information .row div button{
        font-size: 10px;
        padding: 3px;
    }
}